<div class="card" style="width: 18rem;">
  <div class="card-body">

    <h5 class="card-title">{{doctor?.firstName}} {{doctor?.lastName}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{doctor?.doctorSpecialty}}</h6>
    <p class="card-text">{{doctor?.practiceName}}</p>
    <p class="card-text">{{doctor?.practiceAddress}}</p>
    <p class="card-text">{{doctor?.practiceCity}}, {{doctor?.practiceState}} {{doctor?.practiceZipcode}}</p>
    <a class="nav-link" *ngIf="authService.loggedIn() && isClient()" routerLink="/appointment/{{authService.currentUser.id}}">Book Appointment</a>
    <a routerLink="/doctor/{{doctor?.id}}" class="card-link">View Profile</a>
  </div>
</div>
