    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <h1>Welcome to SymptoMedic</h1>
        <h2>We help connect a doctor that's right for you</h2>
        <a  *ngIf="!authService.loggedIn()"class="btn-get-started" routerLink="/register">Register</a>
        <a  *ngIf="authService.loggedIn()"class="btn-get-started" routerLink="/city-search">Search by City</a>
      </div>
    </section><!-- End Hero -->

    <main id="main">


      <pre>









      </pre>
      <section id="departments" class="departments">
        <div class="container">

          <div class="section-title">
            <h2>Departments</h2>
          </div>

          <div class="row">
            <div class="col-lg-3">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-1">Dermatologist</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active show" data-bs-toggle="tab" href="#tab-2">Neurologist</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Nutritionist</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Psychiatrist</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Ophthalmologist</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Family Medicine/General Practitioner</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Preventitive Medicine</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" *ngIf="authService.loggedIn()" routerLink="/specialty-search">Search By Specialty</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
              <div class="tab-content">
                <div class="tab-pane active show" id="tab-1">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Dermatologist</h3>
                      <p class="fst-italic">Treatable Symptoms: rash, itching, edema,
                        swelling of whole body/anasarca, blister, red itchy welt/urticaria,
                        skin discoloration, bruising </p>
                      <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint.
                        Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est
                        repellat minima eveniet eius et quis magni nihil. Consequatur dolorem
                        quaerat quos qui similique accusamus nostrum rem vero</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-2">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Neurologist</h3>
                      <p class="fst-italic">Treatable Symptoms: anxiety, movement disorder/ataxia,
                         Abnormally moving, can't speak, sleepy/somnolence, insomnia, paralysis</p>
                      <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et
                        reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et
                        velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto
                        madirna desera vafle de nideran pal</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-3">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Nutritionist</h3>
                      <p class="fst-italic">Treatable Symptoms: loss of appetite, weight loss, weight gain</p>
                      <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis
                        quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima
                        molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam.
                        Soluta et harum voluptatem optio quae</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-4">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Psychiatrist</h3>
                      <p class="fst-italic">Treatable Symptoms: anxiety,  insomnia, anorexia </p>
                      <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam
                        necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in
                        consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam
                        quia a laborum inventore</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-5">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Ophthalmologist</h3>
                      <p class="fst-italic">Treatable Symptoms: dry eyes, dizziness / vertigo,
                         eye pain, loss of vision, blurred vision, double vision, 
                         dialation of eyes/mydriasis/miosis, involuntary movement of eyes/nystagmus</p>
                      <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis
                        recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui
                        quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-6">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Family Medicine/General Practitioner</h3>
                      <p class="fst-italic">Treatable Symptoms: itching, fatigue, coughing,
                        sneezing, fever, pain</p>
                      <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis
                        recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui
                        quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-7">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Preventative Medicine</h3>
                      <p class="fst-italic">Treatable Symptoms: itching, fatigue, coughing, sneezing</p>
                      <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis
                        recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui
                        quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Departments Section -->

      <!-- ======= Doctors Section ======= -->
      <section id="doctors" class="doctors">
        <div class="container">

          <div class="section-title">
            <h2>Doctors</h2>
            <p>Placeholder</p>
          </div>

          <div class="row">

            <div class="col-lg-6">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Dylan White</h4>
                  <span>Chief Medical Officer</span>
                  <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                  <!-- <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div> -->
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Maggie Smith</h4>
                  <span>Anesthesiologist</span>
                  <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>

                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Bob Anderson</h4>
                  <span>Cardiology</span>
                  <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>

                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Carly Jepson</h4>
                  <span>Neurosurgeon</span>
                  <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>


                </div>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Doctors Section -->



      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <!-- <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Medilab</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>


    </footer> -->
