<pre>

  
</pre>
<div class="card" *ngIf="doctor">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="row mb-3">
        <div class="row mb-3">
          <h3>Edit Details</h3>
          <div class="col-md-6 mb-4 pb-2">
            <div class="form-outline">
              <input type="text" formControlName="firstName" class="form-control form-control-lg"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <label class="form-label" for='firstName'>First name</label>
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4 pb-2">
            <div class="form-outline">
              <input type="text" formControlName="lastName" class="form-control form-control-lg"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <label class="form-label" for="lastName">Last name</label>
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-outline form-white">
            <input type="email" formControlName="email" class="form-control form-control-lg"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <label class="form-label" for="email">Practice Email</label>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Please enter a valid email</div>
            </div>
          </div>
        </div>
        <div class="mb-4 pb-2">
          <div class="form-outline form-white">
            <input type="tel" formControlName="phoneNumber" class="form-control form-control-lg"
              [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
            <label class="form-label" for="phoneNumber">Practice phone number</label>
            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
              <div *ngIf="f.phoneNumber.errors.required">Practice Phone Number is required</div>
            </div>
          </div>
        </div>

        <div class="mb-4 pb-2">
          <div class="form-outline form-white">
            <input type="text" formControlName="practiceAddress" class="form-control form-control-lg"
              [ngClass]="{ 'is-invalid': submitted && f.practiceAddress.errors }" />
            <label class="form-label" for="practiceAddress">Practice Address</label>
            <div *ngIf="submitted && f.practiceAddress.errors" class="invalid-feedback">
              <div *ngIf="f.practiceAddress.errors.required">Practice address is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-4 pb-2">
            <div class="form-outline form-white">
              <input type="text" formControlName="practiceZipcode" class="form-control form-control-lg"
                [ngClass]="{ 'is-invalid': submitted && f.practiceZipcode.errors }" />
              <label class="form-label" for="practiceZipcode">Zip Code</label>
              <div *ngIf="submitted && f.practiceZipcode.errors" class="invalid-feedback">
                <div *ngIf="f.practiceZipcode.errors.required">Zip code is required</div>
              </div>
            </div>
          </div>

          <div class="col-md-7 mb-4 pb-2">
            <div class="form-outline form-white">
              <input type="text" formControlName="practiceCity" class="form-control form-control-lg"
                [ngClass]="{ 'is-invalid': submitted && f.practiceCity.errors }" />
              <label class="form-label" for="practiceCity">City</label>
              <div *ngIf="submitted && f.practiceCity.errors" class="invalid-feedback">
                <div *ngIf="f.practiceCity.errors.required">City is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-4 pb-2">
          <div class="form-outline form-white">
            <input type="text" formControlName="practiceState" class="form-control form-control-lg"
              [ngClass]="{ 'is-invalid': submitted && f.practiceState.errors }" />
            <label class="form-label" for="practiceState">State</label>
            <div *ngIf="submitted && f.practiceState.errors" class="invalid-feedback">
              <div *ngIf="f.practiceState.errors.required">State is required</div>
            </div>
          </div>
        </div>

        <div class="mb-4 pb-2">
          <div class="form-outline form-white">
            <input type="text" formControlName="certifications" class="form-control form-control-lg"
              [ngClass]="{ 'is-invalid': submitted && f.certifications.errors }" />
            <label class="form-label" for="certifications">Certifications</label>
            <div *ngIf="submitted && f.certifications.errors" class="invalid-feedback">
              <div *ngIf="f.certifications.errors.required">Certifications is required</div>
            </div>
          </div>
        </div>

        <!-- <div class="row mb-3">
          <div class="form-outline form-white">
            <select type="text" formControlName="insuranceId"
              [ngClass]="{ 'is-invalid': submitted && f.insuranceId.errors }" class="form-control form-control-lg"
              value="United States">
              <option disabled>Please choose insurance</option>
              <option *ngFor="let insurance of insurances" value="{{insurance.id}}">{{insurance.providerName}}</option>
            </select>
            <label class="form-label" for="country">Insurance</label>
          </div>
        </div> -->

        <div class="row mb-3">
          <button type="submit" class="btn btn-light btn-lg" data-mdb-ripple-color="dark">Update Account</button>
        </div>
      </div>
    </div>
  </form>
</div>
