<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
      <div class="col-12">
        <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">Appointment form</h3>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row g-3">
          <div class="col-md-6">
            <input type="text" formControlName="clientFirstName" class="form-control form-control-lg"
                   [ngClass]="{ 'is-invalid': submitted && f.clientFirstName.errors }" />
            <label class="form-label" for='clientFirstName'>First name</label>
            <div *ngIf="submitted && f.clientFirstName.errors" class="invalid-feedback">
              <div *ngIf="f.clientFirstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <input type="text" formControlName="clientLastName" class="form-control form-control-lg"
                   [ngClass]="{ 'is-invalid': submitted && f.clientLastName.errors }" />
            <label class="form-label" for='clientLastName'>Last name</label>
            <div *ngIf="submitted && f.clientLastName.errors" class="invalid-feedback">
              <div *ngIf="f.clientLastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <input type="tel" formControlName="clientContact" class="form-control form-control-lg"
                   [ngClass]="{ 'is-invalid': submitted && f.clientContact.errors }" />
            <label class="form-label" for='clientContact'>Last name</label>
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.clientContact.errors.required">Phone number is required</div>
              <div *ngIf="f.clientContact.errors.minLength">Please enter a valid Phone Number</div>
              <div *ngIf="f.clientContact.errors.maxLength">Please enter a valid Phone Number</div>
            </div>
          </div>
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
            <input type="date" class="form-control" placeholder="Enter Date">
          </div>
          <div class="col-md-6">
            <input type="time" class="form-control" placeholder="Enter Email">
          </div>
          <div class="col-md-6">
            <input type="time" class="form-control" placeholder="Enter Email">
          </div>
          <div class="col-12">
            <select class="form-select">
              <option selected>Purpose Of Appointment</option>
              <option value="1">Dry Mouth</option>
              <option value="2">Tremor</option>
              <option value="3">Cough</option>
              <option value="4">Dizziness/Vertigo</option>
              <option value="5">Anxiety</option>
              <option value="6">Muscle Cramps</option>
              <option value="7">Chest Pain</option>
              <option value="8">Rash</option>
              <option value="9">Arrhythmia</option>
            </select>
          </div>
          <div class="col-12">
            <textarea class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="col-12 mt-5">
            <button type="submit" class="btn btn-primary float-end">Book Appointment</button>
            <button type="button" class="btn btn-outline-secondary float-end me-2">Cancel</button>
          </div>
        </div>
</form>
    </div>
  </div>
</div>
<div class="form-outline">
  <input type="text" formControlName="firstName" class="form-control form-control-lg"
         [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
  <label class="form-label" for='firstName'>First name</label>
  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
    <div *ngIf="f.firstName.errors.required">First Name is required</div>
  </div>
</div>
