<section class="gradient-custom-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #4835d4;">General Infomation</h3>

                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                          <input type="text" formControlName="firstName" class="form-control form-control-lg"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                          <label class="form-label" for='firstName'>First name</label>
                          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" formControlName="lastName" class="form-control form-control-lg"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                          <label class="form-label" for="lastName">Last name</label>
                          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-4">

                      <h6 class="mb-2 pb-1">Gender: </h6>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="gender" value="Female" checked />
                        Female
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="gender" value="Male" /> Male
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="gender" value="Other" /> Other
                      </div>
                      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Gender is required</div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="email" formControlName="email" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <label class="form-label" for="email">Practice Email</label>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Please enter a valid email</div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="password" formControlName="password" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <label class="form-label" for="password">Password</label>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" formControlName="education" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.education.errors }" />
                        <label class="form-label" for="education">University Name</label>
                        <div *ngIf="submitted && f.education.errors" class="invalid-feedback">
                          <div *ngIf="f.education.errors.required">Education is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <select type="text" formControlName="doctorSpecialty"
                          [ngClass]="{ 'is-invalid': submitted && f.doctorSpecialty.errors }"
                          class="form-control form-control-lg" value="United States">
                          <option value='' disabled>Select a Specialty</option>
                          <option value='United States'>Allergy and Immunology</option>
                          <option value='United States'>Anesthesiologist</option>
                          <option value='United States'>Dermatologist</option>
                          <option value='United States'>Endocrinologist</option>
                          <option value='United States'>Family medicine/General Practitioner</option>
                          <option value='United States'>Gastroenterologist</option>
                          <option value='United States'>Medical genetics</option>
                          <option value='United States'>Neurologist</option>
                          <option value='United States'>Nuclear medicine</option>
                          <option value='United States'>Nutritionist</option>
                          <option value='United States'>Obstetrics and Gynecologist</option>
                          <option value='United States'>Ophthalmologist</option>
                          <option value='United States'>Podiatrist</option>
                          <option value='United States'>Preventive medicine</option>
                          <option value='United States'>Psychiatrist</option>
                          <option value='United States'>Pulmonologist</option>
                          <option value='United States'>Rheumatologist</option>
                          <option value='United States'>Urologist</option>

                        </select>
                        <label class="form-label" for="doctorSpecialty">Specialty</label>
                        <div *ngIf="submitted && f.doctorSpecialty.errors" class="invalid-feedback">
                          <div *ngIf="f.doctorSpecialty.errors.required">Specialty is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" formControlName="certifications" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.certifications.errors }" />
                        <label class="form-label" for="certifications">Certifications</label>
                        <div *ngIf="submitted && f.certifications.errors" class="invalid-feedback">
                          <div *ngIf="f.certifications.errors.required">Certifications is required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Practice Details</h3>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" formControlName="practiceName" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.practiceName.errors }" />
                        <label class="form-label" for="practiceName">Practice Name</label>
                        <div *ngIf="submitted && f.practiceName.errors" class="invalid-feedback">
                          <div *ngIf="f.practiceName.errors.required">Practice name is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" formControlName="license" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.license.errors }" />
                        <label class="form-label" for="license">License #</label>
                        <div *ngIf="submitted && f.license.errors" class="invalid-feedback">
                          <div *ngIf="f.license.errors.required">License name is required</div>
                        </div>
                      </div>
                    </div>


                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" formControlName="practiceAddress" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.practiceAddress.errors }" />
                        <label class="form-label" for="practiceAddress">Practice Address</label>
                        <div *ngIf="submitted && f.practiceAddress.errors" class="invalid-feedback">
                          <div *ngIf="f.practiceAddress.errors.required">Practice address is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
                        <div class="form-outline form-white">
                          <input type="text" formControlName="practiceZipcode" class="form-control form-control-lg"
                            [ngClass]="{ 'is-invalid': submitted && f.practiceZipcode.errors }" />
                          <label class="form-label" for="practiceZipcode">Zip Code</label>
                          <div *ngIf="submitted && f.practiceZipcode.errors" class="invalid-feedback">
                            <div *ngIf="f.practiceZipcode.errors.required">Zip code is required</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-7 mb-4 pb-2">
                        <div class="form-outline form-white">
                          <input type="text" formControlName="practiceCity" class="form-control form-control-lg"
                            [ngClass]="{ 'is-invalid': submitted && f.practiceCity.errors }" />
                          <label class="form-label" for="practiceCity">City</label>
                          <div *ngIf="submitted && f.practiceCity.errors" class="invalid-feedback">
                            <div *ngIf="f.practiceCity.errors.required">City is required</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" formControlName="practiceState" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.practiceState.errors }" />
                        <label class="form-label" for="practiceState">State</label>
                        <div *ngIf="submitted && f.practiceState.errors" class="invalid-feedback">
                          <div *ngIf="f.practiceState.errors.required">State is required</div>
                        </div>
                      </div>
                    </div>


                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="tel" formControlName="phoneNumber" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                        <label class="form-label" for="phoneNumber">Practice phone number</label>
                        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.phoneNumber.errors.required">Practice Phone Number is required</div>
                        </div>
                      </div>
                    </div>


                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                      <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label text-white" for="form2Example3">
                        I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your site.
                      </label>
                    </div>

                    <button type="submit" class="btn btn-light btn-lg" data-mdb-ripple-color="dark">Register</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
