<pre>


</pre>
<section class="gradient-custom-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #4835d4;">General Infomation</h3>

                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                          <input type="text" formControlName="firstName" class="form-control form-control-lg"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                          <label class="form-label" for='firstName'>First name</label>
                          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" formControlName="lastName" class="form-control form-control-lg"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                          <label class="form-label" for="lastName">Last name</label>
                          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-4" for="gender">

                      <h6 class="mb-2 pb-1">Gender: </h6>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="gender" value="Female" checked />
                        Female
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="gender" value="Male" /> Male
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="gender" value="Other" /> Other
                      </div>
                      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Gender is required</div>
                      </div>
                    </div>

                    <div div class="mb-4 pb-2">
                      <label for='birthdate'>Date of Birth</label>
                      <input placeholder="1990-01-01" type="date" class="form-control form-control-lg"
                        formControlName="birthdate" [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />
                      <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                        <div *ngIf="f.birthdate.errors.required">DOB is required</div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="email" formControlName="email" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <label class="form-label" for="email">Your Email</label>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Please enter a valid email</div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="password" formControlName="password" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <label class="form-label" for="password">Password</label>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Contact Details</h3>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" formControlName="address" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                        <label class="form-label" for="address">Street Address</label>
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                          <div *ngIf="f.address.errors.required">Address is required</div>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">

                        <div class="form-outline form-white">
                          <input type="number" formControlName="zipcode" class="form-control form-control-lg"
                            [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" />
                          <label class="form-label" for="zipcode">Zip code</label>
                          <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                            <div *ngIf="f.zipcode.errors.required">Zip code is required</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-7 mb-4 pb-2">
                        <div class="form-outline form-white">
                          <input type="text" formControlName="city" class="form-control form-control-lg"
                            [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                          <label class="form-label" for="city">City</label>
                          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <select type="text" formControlName="state"
                          [ngClass]="{ 'is-invalid': submitted && f.state.errors }"
                          class="form-control form-control-lg">
                          <option value='' disabled>Select a State</option>
                          <option value="Alabama">Alabama</option>
                          <option value="Alaska">Alaska</option>
                          <option value="Arizona">Arizona</option>
                          <option value="Arkansas">Arkansas</option>
                          <option value="California">California</option>
                          <option value="Colorado">Colorado</option>
                          <option value="Connecticut">Connecticut</option>
                          <option value="Delaware">Delaware</option>
                          <option value="District Of Columbia">District Of Columbia</option>
                          <option value="Florida">Florida</option>
                          <option value="Georgia">Georgia</option>
                          <option value="Hawaii">Hawaii</option>
                          <option value="Idaho">Idaho</option>
                          <option value="Illinois">Illinois</option>
                          <option value="Indiana">Indiana</option>
                          <option value="Iowa">Iowa</option>
                          <option value="Kansas">Kansas</option>
                          <option value="Kentucky">Kentucky</option>
                          <option value="Louisiana">Louisiana</option>
                          <option value="Maine">Maine</option>
                          <option value="Maryland">Maryland</option>
                          <option value="Massachusetts">Massachusetts</option>
                          <option value="Michigan">Michigan</option>
                          <option value="Minnesota">Minnesota</option>
                          <option value="Mississippi">Mississippi</option>
                          <option value="Missouri">Missouri</option>
                          <option value="Montana">Montana</option>
                          <option value="Nebraska">Nebraska</option>
                          <option value="Nevada">Nevada</option>
                          <option value="New Hampshire">New Hampshire</option>
                          <option value="New Jersey">New Jersey</option>
                          <option value="New Mexico">New Mexico</option>
                          <option value="New York">New York</option>
                          <option value="North Carolina">North Carolina</option>
                          <option value="North Dakota">North Dakota</option>
                          <option value="Ohio">Ohio</option>
                          <option value="Oklahoma">Oklahoma</option>
                          <option value="Oregon">Oregon</option>
                          <option value="Pennsylvania">Pennsylvania</option>
                          <option value="Rhode Island">Rhode Island</option>
                          <option value="South Carolina">South Carolina</option>
                          <option value="South Dakota">South Dakota</option>
                          <option value="Tennessee">Tennessee</option>
                          <option value="Texas">Texas</option>
                          <option value="Utah">Utah</option>
                          <option value="Vermont">Vermont</option>
                          <option value="Virginia">Virginia</option>
                          <option value="Washington">Washington</option>
                          <option value="West Virginia">West Virginia</option>
                          <option value="Wisconsin">Wisconsin</option>
                          <option value="Wyoming">Wyoming</option>
                        </select>
                        <label class="form-label" for="state">State</label>
                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                          <div *ngIf="f.state.errors.required">State is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <select type="text" formControlName="country"
                          [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
                          class="form-control form-control-lg" value="United States">
                          <option value='United States'>United States</option>
                        </select>
                        <label class="form-label" for="country">Country</label>
                      </div>
                    </div>


                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="tel" formControlName="contactMobile" class="form-control form-control-lg"
                          [ngClass]="{ 'is-invalid': submitted && f.contactMobile.errors }" />
                        <label class="form-label" for="contactMobile">Phone Number - 10 digit number</label>
                        <div *ngIf="submitted && f.contactMobile.errors" class="invalid-feedback">
                          <div *ngIf="f.contactMobile.errors.required">Phone number is required</div>
                          <div *ngIf="f.contactMobile.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
                        </div>
                      </div>
                    </div>


                    <!-- <div class="form-check d-flex justify-content-start mb-4 pb-3">
                      <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label text-white" for="form2Example3">
                        I do accept the  <a href="https://www.termsandconditionsgenerator.com/live.php?token=P1xgBUjubsGi446DkmDDwlH3aeQLDmM8" target=__blank class="text-white"><u>Terms and Conditions</u></a> of your site.
                      </label>
                    </div> -->

                    <button type="submit" class="btn btn-light btn-lg" data-mdb-ripple-color="dark">Register</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
