
<section class="h-100 gradient-custom-2">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #4835d4;">Patient: Please register below</h3>

                  <div class="row">
                    <div class="col-6-md">
                      <button type="button" class="btn btn-primary" routerLink="/register/client">
                        Patient Registration
                      </button>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Doctor: Please register below</h3>



                  <div class="col-6-md" >
                    <button type="button" routerLink="/register/doctor" class="btn btn-primary">
                      Doctor Registration
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

