<div class="container">
  <div class="row">

    <div class="col-md">
      <h2>
        Please select if you're a Client or Doctor
      </h2>

    </div>

  </div>
  <div class="row">
    <div class="col-6-md">
      <button type="button" class="btn btn-primary" routerLink="/register/client">
        Client
      </button>
    </div>
    <div class="col-6-md" routerLink="/register/doctor">
      <button type="button" class="btn btn-primary">
        Doctor
      </button>
    </div>
  </div>

</div>

