<pre>





</pre>
<br>
<div class="container" *ngIf="doctor">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <div class="mt-3">
                <h4>{{doctor.firstName}} {{doctor.lastName}}</h4>
                <p class="text-secondary mb-1">{{doctor.practiceAddress}}</p>
                <p class="text-secondary mb-1">{{doctor.practiceCity}}, {{doctor.practiceState}}</p>
                <p class="text-secondary mb-1">{{doctor.phoneNumber}}</p>
              </div>
            </div>
            <hr class="my-4">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <h5 class="d-flex align-items-center mb-3">Appointments</h5>
                <ul>
                  <li class="card-text" *ngFor="let appt of doctor?.appointments">
                    <h4>{{appt.clientFirstName}} {{appt.clientLastName}}</h4>
                    <p class="text-secondary mb-1">Phone: {{appt.clientContact}}</p>
                    <p class="text-secondary mb-1">Date: {{appt.dateCreated | date: 'mediumDate' }} </p>
                    <p class="text-secondary mb-1">Time: {{appt.startTime | date: 'shortTime'}} - {{appt.endTime | date: 'shortTime'}} </p>
                    <p class="text-secondary mb-1">Symptoms:{{appt.patientSymptoms}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <app-edit-doctor-details [doctor]="doctor"></app-edit-doctor-details>
      </div>
    </div>
  </div>
</div>
